/*============================================
    __  __           __        _ _  __
   / / / /__  ____  / /_____ _(_) |/ /
  / /_/ / _ \/ __ \/ __/ __ `/ /|   / 
 / __  /  __/ / / / /_/ /_/ / //   |  
/_/ /_/\___/_/ /_/\__/\__,_/_//_/|_|  
                                      
============================================*/
body {
 background:#000000;
}
iframe {
 position: fixed;
 top: 0px;
 bottom: 0px;
 right: 0px;
 width: 100%;
 border: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 z-index: 999999;
 height: 100%;
}
/*============================================
    __  __           __        _ _  __
   / / / /__  ____  / /_____ _(_) |/ /
  / /_/ / _ \/ __ \/ __/ __ `/ /|   / 
 / __  /  __/ / / / /_/ /_/ / //   |  
/_/ /_/\___/_/ /_/\__/\__,_/_//_/|_|  
                                      
============================================*/
